<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Material design sign up form</title>



    <link rel="stylesheet" href="{{asset('templateLogin/css/style.css')}}">


</head>

<body>

<div id="login-box">
    <div class="left">
        <h1>Welcome</h1>
        {% block formulaire %}
               {% endblock formulaire %}
    </div>

</div>



</body>

</html>
