{% extends 'layout.html.twig' %}
{%  block body %}

    <section class="clearfix homeBanner" style="background-image: url({{asset('img/banner/banner1.jpg')}});">
        <!--   <img src="{{asset('img/banner/banner1.jpg')}}">-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banerInfo">
                        <h1>Explore. Discover. Share</h1>

                        <p>Bon Plan vous aide à découvrir de grandes choses autour de vous</p>
                        <form class="form-inline" action="http://themes.iamabdus.com/listty/1.3/listing-sidebar-map-left.html" method="">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Find</div>
                                    <input type="text" class="form-control" id="findItem" placeholder="What are you looking for?">
                                    <div class="input-group-addon addon-right"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Near</div>
                                    <input type="text" class="form-control" id="nearLocation" placeholder="Location">
                                    <div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h2>Ceci est la page d'accueil</h2>
{% endblock %}