{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1 style="color:#7f8c8d;">Plan creation</h1>

    {{ form_start(form,{ 'attr' : {'enctype': 'multipart/form-data' }}) }}
        {{ form_widget(form) }}

    <br>
    <input type="file" name="file" >
    <br>
    <input type="submit" value="Create" class="btn btn-primary" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('plan_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
